.itens {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.item {
  flex: 1;
  border: 1px solid var(--red);
  border-radius: 0.8rem;
  padding: 2.4rem;
  box-shadow: var(--box-shadow);
  width: 48%;
  min-width: 32rem;
  text-wrap: pretty;
  overflow-wrap: break-word;

  transition: transform 0.1s ease-in-out;
}

.item:hover {
  transform: scale(1.01);
}

.item h2 {
  font-family: var(--font-montserrat_alternates);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.8rem;
}

.item p {
  margin-bottom: 0.8rem;
}

@media (min-width: 700px) {
  .item:nth-last-child(1):nth-child(odd) {
    flex: none;
  }
}
