.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin: auto;

  max-width: 100rem;
  min-height: calc(100vh - 9.3rem); /* (altura pág - altura footer) */
  padding: 3.2rem 4rem;
}

.introSection {
  text-align: center;
  display: grid;
  gap: 3.2rem;
}

.introTitulo {
  font-family: var(--font-montserrat_alternates);
  font-size: 3.2rem;
}

.introDescricao {
  line-height: 2.4rem;
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 2.8rem;
  }
}

@media (max-width: 360px) {
  .mainContainer {
    padding: 2rem 0.8rem;
  }
}
