* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --red: #b00000;
  --red-darker: #a00000;
  --white: #fbfbfb;
  --box-shadow: 2px 2px 8px #aaa;
  --font-montserrat_alternates: "Montserrat Alternates", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-size: 1.6rem; /* 16px */
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--red);
  background: var(--white);
  min-width: fit-content;
  min-height: fit-content;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

/* SCROLL BAR */
body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 8rem;
}

/* LOADING */
.spinner-wraper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.spinner {
  height: 80px;
  width: 80px;
  margin-inline: auto;
  border: 8px solid var(--red);
  border-top: 8px solid var(--white);
  border-radius: 50%;

  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
