.linksBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.6rem;
}

.link {
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
  border-radius: 0.8rem;
  padding: 2.4rem;
  text-align: center;

  transition: all 0.1s ease-in-out;
}

.link:hover {
  transform: scale(1.02);
  background-color: #aa0b0b;
}
