.linksBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.linkLi {
  flex: 1;
  color: var(--white);
  background-color: var(--red);
  border-radius: 0.8rem;
  padding: 1.6rem;
  text-align: center;
  min-width: 20rem;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.linkLi:hover {
  transform: scale(1.01);
  background-color: #aa0b0b;
}

.linkLi a {
  text-decoration: none;
}