.logout {
  border: 1px solid var(--red);
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  width: fit-content;
}

.logout:hover {
  transform: scale(1.01);
}

.descricaoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4;
}

.introDescricao {
  margin-right: 4rem;
}
