.appFooter {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: space-between;

  color: var(--white);
  background-color: var(--red);
  padding: 1.6rem 4rem;
}

.footerTitle {
  font-family: var(--font-montserrat_alternates);
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.appFooter p {
  font-size: 1.2rem;
}

.footerTitle a {
  text-decoration: none;
}

.footerLink {
  font-size: 1.2rem;
  line-height: 2rem;
}

.BoxLink {
  text-align: right;
}
