.appFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  color: var(--white);
  background-color: var(--red);
  padding: 1.6rem;
}

.footerTitle {
  font-family: var(--font-montserrat_alternates);
  font-size: 1.6rem;
  text-align: center;
}

.footerTitle a {
  text-decoration: none;
}

.footerLink {
  font-size: 1.2rem;
}
