.itens {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.item {
  text-align: center;
  border: 1px solid var(--red);
  border-radius: 0.8rem;
  padding: 2.4rem;
  box-shadow: 2px 2px 8px #aaa;
  width: 24rem;

  transition: transform 0.1s ease-in-out;
}

.item:hover {
  transform: scale(1.02);
}
