.itens {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.item {
  border: 1px solid var(--red);
  border-radius: 0.8rem;
  padding: 2.4rem;
  box-shadow: 2px 2px 8px #aaa;
  width: 40rem;

  transition: transform 0.1s ease-in-out;
}

.item:hover {
  transform: scale(1.01);
}

.item h2 {
  font-family: var(--font-montserrat_alternates);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.8rem;
}

.item p {
  margin-bottom: 0.8rem;
}
