.link {
  display: flex;
  width: fit-content;
  gap: 0.8rem;
  color: var(--red);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: -2.4rem;
  text-decoration: none;
}

.icon {
  width: 1.6rem;
}
